body {
  background-color: #eeeeee;
}
.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 20px;
  height: 350px;
  border-radius: 4px;
  width: 280px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.user-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.heading-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

a {
  height: 50%;
  border-top: 25px;
}

img {
  height: 80%;
  border-radius: 50%;
  margin-top: 25px;
}

.heading-details .name {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.heading-details .city {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  color: gray;
}

.heading-details .country {
  font-size: 18px;
  text-align: center;
  color: gray;
}
